{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="article-list">
    {{ range .Paginator.Pages }}
      <div class="article-item padding-10 ">
        <a class="display-block" href="{{ .RelPermalink }}">
          <h3>{{ .Title }}</h3>
          <div class="article-date">
            {{ partial "metadata.html" . }}
            <span class="bull">&bull;</span> {{ .ReadingTime }} min read</span>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
{{ end }}
