{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ partial "metadata.html" . }}
<br><br>
{{ .Content }}
<div class="post-full-content" id="gitalk-container"></div>
{{ if (.Params.gitalk) }}
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
  var gitalk = new Gitalk({
    clientID: 'd48fe6163211867b513a',
    clientSecret: '1b05a8c576ddc9f29333b0a0a30c9b507b8887da',
    repo: 'blog-comments',
    owner: 'flyingalex',
    language: "{{if eq .Site.LanguagePrefix " / en"}}en{{else}}zh-CN{{end}}",
    admin: ['flyingalex'],
    id: '{{ .Slug }}',
    perPage: 50,
    proxy: "https://hello-world-purple-voice-5e56.hulinalex.workers.dev/https://github.com/login/oauth/access_token"
  });
  gitalk.render('gitalk-container');
</script>
{{ end }}
{{ end }}