{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ partial "metadata.html" . }}
<br><br>
{{ .Content }}
<div class="post-full-content" id="gitalk-container"></div>
{{ if (.Params.gitalk) }}
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
  var gitalk = new Gitalk({
    clientID: '1a6c85caadf5d3eed793',
    clientSecret: '5ad2bf687828120a2e7a2b366810a95e5969b88c',
    repo: 'blog-comments',
    owner: 'flyingalex',
    language: "{{if eq .Site.LanguagePrefix " / en"}}en{{else}}zh-CN{{end}}",
    admin: ['flyingalex'],
    id: '{{ .Slug }}',
    perPage: 50,
  });
  gitalk.render('gitalk-container');
</script>
{{ end }}
{{ end }}