<div id="nav-border" class="main-padding-x main-bg nav-wrapper">
  <nav id="nav" class="nav">
      <a class="site-nav-logo word-break-keep bold" href="{{ $.Site.BaseURL }}{{ $.Site.LanguagePrefix }}">
          <img src="/images/loog.png" />
          {{ $.Site.Title }}
      </a>
      {{ range .Site.Menus.main }}
        <a class="display-block bold padding-10 word-break-keep uppercase" href="{{ .URL }}">
          {{ if .Pre }}
            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
            {{ $icon }}
          {{ end }}

          {{ $text := print .Name | safeHTML }}
          {{ $text }}
        </a>
      {{ end }}
  </nav>
</div>
